
        a:link {
            color: #000;
        }

        /* unvisited link */
        a:visited {
            color: #000;
        }

        /* visited link */
        a:hover {
            color: #000;
        }

        /* mouse over link */
        a:active {
            color: #000;
        }


        h1, h2, h3 {
            text-align: center;
        }

        #body {
            font-family: Arial;
            border-width: 2px;
            clear: both;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
            min-width: 1024px;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }

        #section2 {
            font-family: Arial;
            border-width: 2px;
            clear: both;
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            margin-bottom: 10px;
            min-width: 1024px;
            margin-left: auto;
            margin-right: auto;
        }

        #section21 {
            font-family: Arial;
            border-width: 2px;
            clear: both;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
            min-width: 1024px;
            margin-left: auto;
            margin-right: auto;
        }

        #log_area {
            font-family: Arial;
            border-width: 2px;
            clear: both;
            margin-top: 10px;
            margin-bottom: 10px;
            min-width: 100px;
            margin-left: auto;
            margin-right: auto;
        }

        div.tooltip {
            position: absolute;
            text-align: center;
            /* width: 120px;
            height: 20px; */
            padding: 2px;
            font: 16px sans-serif;
            background: lightgray;
            border: 0px;
            border-radius: 0.5rem;
            pointer-events: none;
            z-index: 100; /* Place the tooltip above all other elements */
        }

        .drop-area {
            border: 2px dashed #ccc;
            border-radius: 20px;
            font-family: sans-serif;
            margin: 10px auto;
            padding: 10px;
        }

        .drop-area-neighbor {
            border: 2px solid #ccc;
            border-radius: 10px;
            font-family: sans-serif;
            margin: 10px auto;
            padding: 10px;
        }

        div.input-section {
            display: flex;
            gap: 5px;
            flex-direction: column;
            justify-content: start;
            align-items: left;
            margin: 10px;
            padding: 10px;
            border: 1px solid #4f2bcf;
            border-radius: 0.5rem;
        }

        div.resizable {
            border: 2px solid #40375f;
            border-radius: 0.5rem;
            padding: 20px;
            resize: both;
            overflow: hidden;
            min-width: 400px;
            min-height: 300px;
        }

        div.resizable_stack {
            border: 2px solid #40375f;
            border-radius: 0.5rem;
            padding: 20px;
            resize: none;
            overflow: hidden;
        }

        div.resizable_stack_invisible {
            border: none;
            border-radius: 0.5rem;
            padding: 20px;
            resize: none;
            overflow: hidden;
        }

        .rotate90 {
            transform: rotate(90deg);
        }

        .information {
            font-weight: bold;
            color: #220ddc;
        }

        ol>li {
            margin-top: 1em;
        }

        button {
            margin: 5px;
        }

        span.information {
            font-weight: bold;
            color: #220ddc;
            display: inline-block;
            width: 6em;
        }

        textarea {
            resize: auto;
            min-height : 300px;
            min-width: 300px;
        }

        .fieldset-auto-width {
            display: inline-block;
        }

        #contour_message {
            position: fixed;
            font-size: x-large;
            left: 50px;
            top: 50px;
            background-color: #e6f10d;
            color: blue;
            opacity: 0.6;
            z-index: 2000;
        }

        #webassembly_message {
            position: fixed;
            font-size: x-large;
            left: 50px;
            top: 100px;
            background-color: #e6f10d;
            color: blue;
            opacity: 0.6;
            z-index: 2000;
        }


        div.input-section label,  div.input-section select {
            width: fit-content;
            display: inline;
        }

        table {
            border-collapse: collapse;
            border: 2px solid rgb(140 140 140);
            font-family: sans-serif;
            font-size: 1rem;
            letter-spacing: 1px;
          }
          
          caption {
            caption-side: bottom;
            padding: 10px;
            font-weight: bold;
          }
          
          thead,
          tfoot {
            background-color: rgb(228 240 245);
          }
          
          th,
          td {
            border: 1px solid rgb(160 160 160);
            padding: 8px 10px;
          }
          

